*{
    margin:0;
    padding: 0;
}
body{
    height: 100vh;
    position: relative;
}
.navbar-brand img{
    width: 3rem;
}
#lista-filmes{
    flex-wrap: wrap;
    justify-content:center;
    padding: 2rem;
    
}
.card{
    padding: 15px;
}
.active{
    font-weight: 600;
}
/* .hidden {
    display: none;
  } */
/* .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 99rem;
    height: 50rem;
    background-color: rgb(0 0 0 / 60%);
    backdrop-filter: blur(2px);
    z-index: 5;
  } */
